{% extends 'webpage/base.html' %}
{% block content %}
      <!-- ################################################################################################ -->
      <!-- ################################################################################################ -->
      <!-- ################################################################################################ -->
      <div id="pageintro" class="hoc clear">
        <article>
          <!-- ################################################################################################ -->
          <h3 class="heading">Welcome to Seven Eleven</h3>
          <!-- <img src="../static/images/image_collection/logo.png" alt="" /> -->
          <p>
            Our approach to the Internet is different. So, if you are looking
            for a better mousetrap, you just found it.
          </p>
          <!-- <p class="font-x1 uppercase bold">Lacus nec ligula rutrum feugiat</p> -->
          <footer>
            <ul class="nospace inline pushright">
              <li><a class="btn" href="#">Log In</a></li>
              <li><a class="btn inverse" href="#">Sign Up</a></li>
            </ul>
          </footer>
          <!-- ################################################################################################ -->
        </article>
      </div>
      <!-- ################################################################################################ -->
    </div>
    <!-- End Top Background Image Wrapper -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row3">
      <main class="hoc container clear">
        <!-- main body -->
        <!-- ################################################################################################ -->
        <div id="Services" class="sectiontitle">
          <h6 class="heading">Services and content we offer</h6>
          <!-- <p>
            Semper amet et nibh consectetur faucibus ex ac iaculis odio mauris
            orci ipsum
          </p> -->
        </div>
        <ul class="nospace group center">
          <li class="one_quarter first">
            <article>
              <a href="#"><i class="icon btmspace-30 fa fa-desktop"></i></a>
              <h6 class="heading font-x1">App Development</h6>
              <p>
                Applications for use on mobile devices such
                as tablets, smartphones, smart watches and more&hellip;
              </p>
            </article>
          </li>
          <li class="one_quarter">
            <article>
              <a href="#"><i class="icon btmspace-30 fa fa-commenting-o"></i></a>
              <h6 class="heading font-x1">Content creation</h6>
              <p>
                By applying to be part of the <a href="#">Seven Creed</a>, you get a
                chance of creating
                and distributing valuable, relevant, and consistent
                content&hellip;
              </p>
            </article>
          </li>
          <li class="one_quarter">
            <article>
              <a href="#"><i class="icon btmspace-30 fa fa-book"></i></a>
              <h6 class="heading font-x1">Philosophical texts</h6>
              <p>
                We publish quality philosophy in a readable and enjoyable format
                for readers both within and outside academe&hellip;
              </p>
            </article>
          </li>
          <li class="one_quarter">
            <article>
              <a href="#"><i class="icon btmspace-30 fa fa-newspaper-o"></i></a>
              <h6 class="heading font-x1">Latest news</h6>
              <p>
                Newsworthy content about video entertainment,
                culture, tech, science, business, social good&hellip;
              </p>
            </article>
          </li>
        </ul>
        <!-- ################################################################################################ -->
        <!-- / main body -->
        <div class="clear"></div>
      </main>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div
      class="wrapper bgded"
      style="background-image:url('../static/images/image_collection/backgrounds/fitness.png');"
    >
      <div class="hoc split clear">
        <section>
          <!-- ################################################################################################ -->
          <p class="nospace font-xs" datetime="2045-04-06"
          >Friday, 6<sup>th</sup> April 2045</time>
          <h6 class="heading">Health Fitness Tips</h6>
          <p class="btmspace-30">
            I'm not about getting jacked / ripped or
            staying slim – its to feel good about yourself and live a happier, healthier
            and more fulfilling life!
            I tend to consider things like:
          </p>
          <ul class="fa-ul">
            <li>
              <i class="fa-li fa fa-check-circle"></i> Specific workout plans to target problem areas
            </li>
            <li>
              <i class="fa-li fa fa-check-circle"></i> Various types of diet plans as well as tips and tricks for sticking to them
            </li>
            <li>
              <i class="fa-li fa fa-check-circle"></i> Sharing scientific studies focused on various aspects of fitness.
            </li>
            <a class="btn" href="#">Read more &raquo;</a>
          </ul>
          <!-- ################################################################################################ -->
        </section>
      </div>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row3">
      <div class="hoc container clear">
        <!-- ################################################################################################ -->
        <ul id="testimonials" class="nospace group">
          <li class="one_third first">
            <figure>
              <img class="circle" src="../static/images/image_collection/gallery/60x60.png" alt="" />
              <figcaption>
                <strong>B.Ryb</strong><br />
                <em>CEO, Seven Eleven</em>
              </figcaption>
            </figure>
            <blockquote>
              I know. It sounds like a pretty big undertaking. Perhaps a bit misguided.
              Or maybe even maniacally delusional that I
              would even attempt to single-handedly take on correcting the course
              of the Internet as it rapidly heads for a
              catastrophic collision with bad taste and vulgar commercialism.
              But that’s only because you don’t know me. Yet
            </blockquote>
          </li>
          <li class="one_third">
            <figure>
              <img class="circle" src="../static/images/image_collection/gallery/60x60.png" alt="" />
              <figcaption>
                <strong>Y.Hussein</strong><br />
                <em>CTO, Seven Eleven</em>
              </figcaption>
            </figure>
            <blockquote>
              I speak and write about how to succeed online by being human.
              By building relationships. By being vulnerable. By being
              honest. By telling stories. My approach to the Internet is different.
              It’s not the same old fluff you are used to hearing.
            </blockquote>
          </li>
          <li class="one_third">
            <figure>
              <img class="circle" src="../static/images/image_collection/gallery/60x60.png" alt="" />
              <figcaption>
                <strong>C.Zack</strong><br />
                <em>CFO, Seven Eleven</em>
              </figcaption>
            </figure>
            <blockquote>
              Let me be clear. I am not another search engine optimization guy.
              Or some “guru” claiming to have the secret formula to
              social media domination.
              I won’t teach you how to get rich overnight.
              Or make promises that are too good to be true
            </blockquote>
          </li>
        </ul>
        <!-- ################################################################################################ -->
      </div>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div
      class="wrapper coloured overlay bgded"
      style="background-image:url('../static/images/image_collection/backgrounds/background2.png');"
    >
      <article class="hoc cta clear">
        <!-- ################################################################################################ -->
        <h6 class="three_quarter first">
          Would you love to be part of our content creators?
        </h6>
        <footer class="one_quarter">
          <a class="btn" href="#">Join Seven Creed &raquo;</a>
        </footer>
        <!-- ################################################################################################ -->
      </article>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row3">
      <section class="hoc container clear">
        <!-- ################################################################################################ -->
        <div class="sectiontitle">
          <h6 class="heading">The most popular articles</h6>
          <!-- <p>
            Interdum libero ac sed justo nibh condimentum non massa a fermentum
            ultricies
          </p> -->
        </div>
        <div class="group latest">
          <article class="one_third first">
            <figure>
              <a href="#"><img src="../static/images/image_collection/fatedestiny.jpg" alt=""/></a>
              <figcaption>
                <time datetime="2045-04-06T08:15+00:00"
                  ><strong>06</strong> <em>Apr</em></time
                >
              </figcaption>
            </figure>
            <div class="txtwrap">
              <h4 class="heading">Fate and Destiny</h4>
              <ul class="nospace meta">
                <li><i class="fa fa-user"></i> <a href="#">K.Kim</a></li>
                <li><i class="fa fa-tag"></i> <a href="#">Philosophy</a></li>
              </ul>
              <p>
                Fate and Destiny are not the same: Do you know the difference?
                Fate involves aspects of life that are not freely
                chosen.&hellip;
              </p>
              <footer><a href="#">Read More &raquo;</a></footer>
            </div>
          </article>
          <article class="one_third">
            <figure>
              <a href="#"><img src="../static/images/image_collection/brutality.jpg" alt=""/></a>
              <figcaption>
                <time datetime="2045-04-05T08:15+00:00"
                  ><strong>05</strong> <em>Apr</em></time
                >
              </figcaption>
            </figure>
            <div class="txtwrap">
              <h4 class="heading">Fatal police shooting</h4>
              <ul class="nospace meta">
                <li><i class="fa fa-user"></i> <a href="#">C.Beryl</a></li>
                <li><i class="fa fa-tag"></i> <a href="#">News</a></li>
              </ul>
              <p>
                Lavish Reynolds live streamed the violent scene from Falcon
                Heights in Minnesota at 9pm local time&hellip;
              </p>
              <footer><a href="#">Read More &raquo;</a></footer>
            </div>
          </article>
          <article class="one_third">
            <figure>
              <a href="#"><img src="../static/images/image_collection/face.jpg" alt=""/></a>
              <figcaption>
                <time datetime="2045-04-04T08:15+00:00"
                  ><strong>04</strong> <em>Apr</em></time
                >
              </figcaption>
            </figure>
            <div class="txtwrap">
              <h4 class="heading">Apple face recognition</h4>
              <ul class="nospace meta">
                <li><i class="fa fa-user"></i> <a href="#">J.Brian</a></li>
                <li><i class="fa fa-tag"></i> <a href="#">Technology</a></li>
              </ul>
              <p>
                This week at WWDC, Apple announced a new facial recognition
                system — although if you weren’t watching closely, you
                might&hellip;
              </p>
              <footer><a href="#">Read More &raquo;</a></footer>
            </div>
          </article>
        </div>
        <!-- ################################################################################################ -->
      </section>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div
      class="wrapper overlay bgded"
      style="background-image:url('../static/images/image_collection/backgrounds/background2.png');"
    >
      <div id="ctdetails" class="hoc clear">
        <!-- ################################################################################################ -->
        <ul class="nospace group">
          <li class="one_third first">
            <i class="fa fa-map-marker"></i>
            <p>Our Location</p>
            <p><a href="#">Nairobi, Kenya</a></p>
          </li>
          <li class="one_third">
            <i class="fa fa-phone"></i>
            <p>Call us</p>
            <p>(+254) 703129077/ 706307375</p>
          </li>
          <li class="one_third">
            <i class="fa fa-envelope-o"></i>
            <p>Email us</p>
            <p><a href="mailto:info@seveneleven.com">info@seveneleven.com</a></p>
          </li>
        </ul>
        <!-- ################################################################################################ -->
      </div>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="wrapper row4">
      <footer id="footer" class="hoc clear">
        <!-- ################################################################################################ -->
        <div class="one_quarter first">
          <h6 class="heading">Disclaimer</h6>
          <p>
            Thank you for visiting our site and we appreciate your patronage.
            We have made every reasonable effort to present accurate information
            on our website; however, we are not responsible for any of the results you experience while
            visiting our website
          </p>
        </div>
        <div class="one_quarter">
          <h6 class="heading">Quick links...</h6>
          <nav>
            <ul class="nospace">
              <li>
                <a href="#top"><i class="fa fa-lg fa-home"></i></a>
              </li>
              <li><a href="#Services">About</a></li>
              <li><a href="#ctdetails">Contact</a></li>
            </ul>
          </nav>
          <br/>
          <br />
          <br />
          <br />
          <ul class="faico clear">
            <li>
              <a class="faicon-facebook" href="#"
                ><i class="fa fa-facebook"></i
              ></a>
            </li>
            <li>
              <a class="faicon-twitter" href="#"
                ><i class="fa fa-twitter"></i
              ></a>
            </li>
            <li>
              <a class="faicon-linkedin" href="#"
                ><i class="fa fa-linkedin"></i
              ></a>
            </li>
            <li>
              <a class="faicon-google-plus" href="#"
                ><i class="fa fa-google-plus"></i
              ></a>
            </li>
          </ul>
        </div>
        <div class="one_quarter">
          <h6 class="heading">Word of the day</h6>
          <article>
            <h2 class="nospace font-x1"><a href="#">Success</a></h2>
            <time class="font-xs" datetime="2045-04-06"
              >Friday, 6<sup>th</sup> April 2045</time
            >
            <p>
              Success is not final; failure is not fatal:
              It is the courage to continue that counts.
            </p>
          </article>
        </div>
        <div class="one_quarter">
          <h6 class="heading">Upcoming events</h6>
          <ul class="nospace linklist">
            <li><a href="#">Koroga festival</a></li>
            <li><a href="#">Watamu festival</a></li>
            <li><a href="#">Blankets and Wine</a></li>
            <li><a href="#">Concours d'Elegance</a></li>
          </ul>
        </div>
        <!-- ################################################################################################ -->
      </footer>
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    {% endblock %}
